.book-container {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  width: auto; /* Adjust width as needed */
  background-color: #2e2323;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.book-container:hover {
  transform: translateY(-5px);
}

.book-image {
  width: auto;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.book-details {
  padding: 10px;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.book-author {
  font-size: 16px;
  margin-bottom: 8px;
}

.book-description {
  font-size: 14px;
}
